body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #1d1d1d;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: #5B022E;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 50px;
}

p {
    line-height: 2.5rem;
}

.btn {
    background-color: #5B022E !important;
}

.btn:hover {
    text-decoration: underline !important;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    /*********** START CONTACT US ***********/
    #contactUs {
        background-color: #D8D4D3;
        height: 500px;
        width: 100%;
        margin-top: 60px;
    }

    form {
        padding-top: 30px;
        position: relative;
        z-index: 2;
    }

    #envoyerForm {
        background-color: #5B022E;
    }


    img {
        position: relative;
        z-index: 1;
        height: 40em;
        transform: rotate(-15deg);
        left: 700px;
        top: -500px;
    }
}

/*Small devices (landscape phones, 320px and up)*/
@media (max-width: 991px) {

    #contactUs {
        background-color: #D8D4D3;
        height: 100%;
        width: 100%;
    }

    form {
        padding-top: 30px;
    }

    #envoyerForm {
        background-color: #5B022E;
    }

    img {
        display: none;
    }
}
