 /*@import "../../../sass/_variables.scss"; */
.navbar {
    background-color: white !important;
}
.navbar-collapse {
    align-items: center !important;
}
.nav-icon
{
 background-color: red;
 color:white;
 border-radius: 50%;
 padding:10px;
}


.bg-info {
  background-color: white !important;
}
.nav-link {
  color: red !important;
  font-family: "Montserrat";
}
.navbar-brand {
  color: red !important;
  font-family: 'Arial';
}